@import url('bootstrap');
@import url('bootstrap-icons');


.card {
  height: 400px;
  display: flex;
}

.card-top img {
  height: 200px;
}

.card-top {
    display: flex;
     justify-content: center;
}


.info {
  display: flex;
  padding: 3rem;
}

.card-right{
  padding-left: 3rem;
}

.info img {
  height: 200px;
}

.info img:hover{
  transition: 0.2s;
  scale: 1.5;
}